body{
    margin: 0%;
}
.container{
    border-radius: 15px;
    margin-bottom: 30px;}
.contain{
    box-shadow: 1px 1px rgba(0, 0, 0, 0.219);
}

#navsec{
padding-top: 10px;
background-image: url(images/bg-hero-desktop.svg);
font-size: 11px;
text-align: center;
background-color:#f0f8ff ;
color: hsl(228, 45%, 44%);
}
.navbar{
    margin-bottom: 20px;
}
img{
    height: 80%;
    width: 80%;
}
.img2{
    height: 10px;
    width: 10px;
    color:  hsl(228, 45%, 44%);
}
.img1{
    height: 20px;
    width: 60px;
    color:  hsl(228, 45%, 44%);
}

.btn{
    margin-bottom: 20px;
    color: hsl(228, 45%, 44%);
}
.btn{
    background-color: #ff1694;
    color: white;
}
.btn:hover{
   background-color: pink;
   color:hsl(228, 45%, 44%) ;
}
#growtogether{
    margin: 20px;
    padding: 10px;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);  
}
.one{
    width: 300px;
    z-index: 1;
    background-color: white;
    position: absolute;
    right: 500px;
}
#footer{
    background-color: hsl(228, 45%, 44%);
    color: white;
    padding: 150px 0 10px 0;
font-size: 11px;
text-align: center;
}
