body{
    margin: 0%;
}
.container{
    border-radius: 20px;
    margin-bottom: 30px;}
.contain{
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.219);
}

#navsec{
padding-top: 10px;
padding-bottom: 10px;
background-image: url(images/bg-hero-desktop.svg);
font-size: 11px;
text-align: left;
background-color:#f0f8ff ;
color: #2e5090;
}
.navbar{
    margin-bottom: 20px;
}
img{
    height: 80%;
    width: 80%;
}
.logoone{
    width: 100px;
    
}
.img2{
    height: 10px;
    width: 10px;
    color: #2e5090;
}
.img1{
    height: 20px;
    width: 60px;
    color:  #2e5090;
}

.btn{
    margin-bottom: 20px;
    color:#2e5090;
}
.btn{
    background-color: #ff1694;
    color: white;
}
.btn:hover{
   background-color: pink;
   color:#2e5090;
}
.but{
    background-color: white;
    color: #2e5090;
}
.but:hover{
    color: #2e5090;
    border-color: #ff1694;
}
#growtogether{
    margin: 20px;
    padding: 10px;
    font-size: 11px;
    text-align: left;
    color: #2e5090;  
}
.one{
    width: 300px;
    z-index: 1;
    background-color: white;
    position: relative;
    top: 110px;
    border-radius: 10px;
    text-align: center;
}
.two{
    text-align: left;
}
#footer{
   background-color: #003366;
    color: white;
    padding: 150px 0 10px 0;
font-size: 11px;
text-align: center;
line-height: 15px;
}
